body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
body{background-color: rgba(204, 204, 204, 0.21);; background-repeat: no-repeat;background-position: right top; background-attachment: fixed;background-size: cover;}
.no-link a,.no-link a:hover{text-decoration: none; color:#fff!important;}
.survey-header{background-color: #65216C; position: fixed; border-bottom: 1px solid #915198; padding: 10px 0}
.survey-container{padding-top:130px }
#survey-form {margin-top:40px}
/*.main-header{background-image:url("/images/bg/bg-latest.jpg"); background-repeat: no-repeat;background-size: cover;}*/
#survey-form button[type=submit] {padding: 12px 40px}
#survery-header { background-color : rgba(159, 7, 174, 0.84)!important; padding-bottom: 50px;}
#survey-form label.question-lable {font-weight: normal; font-size: 18px}
#survey-form .form-group {margin-bottom: 30px}
#header{background-color: transparent}
.select-2{width: 100%}
#alert-box{display: none}
.lead {font-size: 18px;!important;
    text-align: justify;!important;}
.link-white{ color: #fff!important;}
.link-orange { color: #d58512}
.link-orange:hover { color: #A2660F}
.link-blue { color: #d58512}
.link-blue:hover { color: #d58512}
.link-green { color: #15D815}
.link-green:hover { color: #15D815}
.link-purple { color: #A80ABB}
.link-purple:hover { color: #82358b}
.link-bold-500{font-weight: 500;}
.hide-element {display: none}
/* home page styles */
.main-viewport{/*padding-top: 60px*/}
#home-search { padding-top: 40px}
.home-search-wrapper {border: 1px solid #fff; padding:6px}
#home-search-box {display: none}
.select2-container {height: 50px}
.select2-container .select2-selection {height: 50px!important;}
.select2-container span.select2-selection__arrow {display: none}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 50px!important; font-weight: bold;}
.select2.select2-container.select2-container--default{width: 100%!important;}
.input-lg-50 {height: 50px}
.label.label-small { padding: .1em .6em .3em!important;font-size: 60%!important;}

/*search list*/
.search-list{ color: #444}
.search-list .list-group-item{}
.search-list .list-group-item.active { background-color: #D1D3D5;border-color: #B3B6B9;}
.search-list .property-img{}
.search-list .property-img img {width: 90px;max-width: none;}
.search-list .property-desc{}
.search-list .property-desc .label{ font-weight: normal}
/*map*/
.map-wrapper{}
.map-wrapper .inner-map-wrapper{min-height: 500px; background-color: white}
.angular-google-map-container { height: 500px; }
.map-wrapper .marker-wrapper {width: 250px;overflow: hidden}
/* property page */
#property-carousel > div{      height: 200px;  }
#property-carousel img{    margin:auto;    width: 400px;}
#property-carousel {    position:absolute;    width: 400px;    left:50%;    top:20px;    margin-left:-200px;}

.property-container {}
.property-container .property-container-description {}
.property-container .property-container-description .carousel-navigator{ height: 100px; padding: 10px}
.property-container .property-container-description .carousel-navigator .thumbnail{ width: 100px}
.property-container .property-container-description .carousel-navigator .thumbnail img{ width: 100%; cursor: pointer; height: 60px}
.property-container .property-container-map {}
.property-container .property-container-map-wrapper {}
.property-container .property-container-map-wrapper .map-image {width: 100%; height: 300px;}
.property-container .property-container-seller { padding-top: 10px}
.property-container .property-container-seller .avatar-image {width: 80px}

.property-edit-container-info {}
.property-edit-container-info .img-upload-wrapper { padding: 25px 40px;background-color: #ccc;cursor: pointer; }
.property-edit-container-info .carousel-navigator {}
.property-edit-container-info .carousel-navigator .thumbnail-image{}
.property-edit-container-info .carousel-navigator .thumbnail-image img{ height: 60px;  width: 90px;}
.img-wrap { position: relative;    display: inline-block;    border: 1px red solid;    font-size: 0;}
.img-wrap .close {    position: absolute;    top: 2px;    right: 2px;    z-index: 100;    background-color: #FFF;    padding: 5px 2px 2px;    color: #000;    font-weight: bold;    cursor: pointer;    opacity: .2;    text-align: center;    font-size: 22px;    line-height: 10px;    border-radius: 50%;}
.img-wrap:hover .close {    opacity: 1;}
.property-type { padding: 4px; text-align: center}
.property-edit-container-info .carousel-navigator .thumbnail-image{padding: 10px;}
.property-edit-container-info .carousel-navigator .thumbnail-image.highlight{    background-color: #E4E1E1;}
.property-edit-container-info .carousel-navigator .thumbnail-image img{ height: 60px;  width: 90px;}
.property-edit-container-info .carousel-navigator .thumbnail-image .remove-image{display:block!important;position: relative;top: -10px;float: right;margin-right: -10px; font-size: 12px;color: #9A9595;}

.property-container-map {}
.property-container-map .property-container-map-wrapper {}
.property-container-map .property-container-map-wrapper .map-wrapper { height: 300px}
.property-container-map .property-container-map-wrapper .map-wrapper .angular-google-map-container {height: 300px!important;}

.profile-wrapper {}
.profile-wrapper .avatar{height: 150px;width: 150px;}

/* Template */
.topnav { font-size: 14px;}
.lead {    font-size: 18px;    font-weight: 400;}
.intro-header {    padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */    padding-bottom: 50px;    background-size: cover;    min-height: 600px;}
.intro-message {    position: relative;    padding-top: 20%;    padding-bottom: 20%;}
.intro-message > h1 {    margin: 0;    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);    font-size: 5em;}
.intro-divider {    width: 400px;    border-top: 1px solid #f8f8f8;    border-bottom: 1px solid rgba(0,0,0,0.2);}
.intro-message > h3 {    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);}
@media(max-width:767px) {
    .intro-message { padding-bottom: 15%; }
    .intro-message > h1 { font-size: 3em; }
    ul.intro-social-buttons > li { display: block; margin-bottom: 20px;padding: 0;}
    ul.intro-social-buttons > li:last-child {  margin-bottom: 0;}
    .intro-divider { width: 100%; }
}

.network-name {    text-transform: uppercase;    font-size: 14px;    font-weight: 400;    letter-spacing: 2px;}
.content-section-a {    padding: 50px 0;    background-color: #f8f8f8;}
.content-section-b {    padding: 50px 0;    border-top: 1px solid #e7e7e7;    border-bottom: 1px solid #e7e7e7;}
.section-heading {    margin-bottom: 30px;}
.section-heading-spacer {    float: left;    width: 200px;    border-top: 3px solid #e7e7e7;  }
.banner {  padding: 100px 0;  color: #f8f8f8;  background: url(../img/banner-bg.jpg) no-repeat center center;  background-size: cover;  }
.banner h2 {  margin: 0;  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);  font-size: 3em;  }
.banner ul {  margin-bottom: 0;  }
.banner-social-buttons { float: right;margin-top: 0;}

@media(max-width:1199px) {
    ul.banner-social-buttons {  float: left;  margin-top: 15px;  }
}

@media(max-width:767px) {
    .banner h2 {  margin: 0;  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);  font-size: 3em;  }
    ul.banner-social-buttons > li {        display: block;  margin-bottom: 20px;  padding: 0;  }
    ul.banner-social-buttons > li:last-child { margin-bottom: 0;}
}
.footer {  position: relative;  bottom: 0;  width: 100%; /* Set the fixed height of the footer here */  height: 60px;  background-color: #f5f5f5;  }
.footer .footer-links { font-weight: normal}
.footer .footer-links a{ margin: 0 10px}
p.copyright {  margin: 15px 0 0;  }
/* custom seach styles */
#custom-search-input{  padding: 3px;  border: solid 1px #E4E4E4;  border-radius: 6px;  background-color: #fff;  }
#custom-search-input input{  border: 0;  box-shadow: none;  }
#custom-search-input button{ margin: 2px 0 0 0;  background: none;  box-shadow: none;   border: 0;   color: #666666;   padding: 0 8px 0 10px;    border-left: solid 1px #ccc;}
#custom-search-input button:hover { border: 0; box-shadow: none; border-left: solid 1px #ccc; }
#custom-search-input .glyphicon-search { font-size: 23px; }
/* custom styles for ng-input */
tags-input .tags { border: none!important; box-shadow: none!important;}
tags-input .tags .input { font-weight: bold!important;color: #444; }
tags-input .tags .tag-item { padding: 5px 10px!important;background: none!important; line-height: 15px!important;height: 30px!important; font-weight: bold!important; }
.nav-links { padding: 15px 0px; }
.nav-links a { margin-left: 10px; font-weight: normal!important;}
/* xeditable averrides */
.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: solid 1px #C4D8EA;
}

.property-list{}
.property-list-block{}
.property-list-block .img-wrapper{ height: 150px;}
