.no-link a,.no-link a:hover{text-decoration: none; color:#fff!important;}
.survey-header{background-color: #65216C; position: fixed; border-bottom: 1px solid #915198; padding: 10px 0}
.survey-container{padding-top:130px }
#survey-form {margin-top:40px}
.main-header{background-image:url("/images/bg/bg-latest.jpg"); background-repeat: no-repeat;background-size: cover;}
#survey-form button[type=submit] {padding: 12px 40px}
#survery-header { background-color : rgba(159, 7, 174, 0.84)!important; padding-bottom: 50px;}
#survey-form label.question-lable {font-weight: normal; font-size: 18px}
#survey-form .form-group {margin-bottom: 30px}
#header{background-color: rgba(159, 7, 174, 0.84)!important;}
.select-2{width: 100%}
#alert-box{display: none}
.lead {font-size: 18px;!important;
    text-align: justify;!important;}
.link-white{ color: #fff!important;}
.link-orange { color: #d58512}
.link-orange:hover { color: #A2660F}
.link-blue { color: #d58512}
.link-blue:hover { color: #d58512}
.link-green { color: #15D815}
.link-green:hover { color: #15D815}
.link-purple { color: #A80ABB}
.link-purple:hover { color: #82358b}
.link-bold-500{font-weight: 500;}

/* home page styles */
#home-search { padding-top: 40px}
.home-search-wrapper {border: 1px solid #fff; padding:6px}
#home-search-box {display: none}
.select2-container {height: 50px}
.select2-container .select2-selection {height: 50px!important;}
.select2-container span.select2-selection__arrow {display: none}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 50px!important; font-weight: bold;}
.select2.select2-container.select2-container--default{width: 100%!important;}
.input-lg-50 {height: 50px}
.label.label-small { padding: .1em .6em .3em!important;font-size: 60%!important;}

/*search list*/
.search-list{ color: #444}
.search-list .list-group-item{}
.search-list .property-img{}
.search-list .property-img img {width: 90px;max-width: none;}
.search-list .property-desc{}
.search-list .property-desc .label{ font-weight: normal}
/*map*/
.map-wrapper{}
.map-wrapper .inner-map-wrapper{min-height: 500px; background-color: white}