<section id="header" class="container-fluid main-header">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel-body">
                <form role="form"  ng-submit="login()">
                    <div class="row clearfix">
                        <div class="col-md-12 column ">
                            <h1 class="text-center">
                                <img src="/images/logos/final-logo.png" width="150" />
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <input type="text" ng-model="username" class="form-control" placeholder="Username" tabindex="1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <input type="password" ng-model="password" class="form-control" placeholder="Password" tabindex="1">
                            </div>
                        </div>
                    </div>
                    <button type="submit" ladda="logging" class="btn btn-success">Login</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>