<section id="header" class="container-fluid main-header">
    <div class="container property-container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default property-container-description">
                    <div class="panel-heading">
                        &nbsp;
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="height: 305px">
                                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                        <uib-slide ng-repeat="slide in slides" active="slide.active">
                                            <img ng-src="{{slide.image}}" style="margin:auto;height: 300px">
                                        </uib-slide>
                                    </uib-carousel>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 carousel-navigator">
                                <div style="height: 100px">
                                    <ul class="list-inline">
                                        <li class="thumbnail" ng-repeat="slide in slides">
                                            <a ng-click="slide.active = true"><img ng-src="{{slide.image}}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4><b><i class="fa fa-university"></i> {{ property.name }}</b></h4>
                                <small><i class="fa fa-send"></i> {{ property.address }}</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span><b>Bedrooms:</b></span>
                                        <span class="qty pull-right">4</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Bathrooms:</b></span>
                                        <span class="qty pull-right">2</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Property type:</b></span>
                                        <span class="qty pull-right">{{ property.type }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Square feet:</b></span>
                                        <span class="qty pull-right">1,700 sqft</span>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span><b>Year:</b></span>
                                        <span class="qty pull-right" editable-bsdate="property.year" e-datepicker-popup="yyyy">{{ property.year }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Listing type:</b></span>
                                        <span class="qty pull-right">For Sale</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Parking:</b></span>
                                        <span class="qty pull-right">Assigned</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Neighborhood:</b></span>
                                        <span class="qty pull-right">Oceanfront</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Description</h4>
                                {{ property.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default property-container-map">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-send"></i> Location </h3>
                    </div>
                    <div class="panel-body property-container-map-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="map-image" src="http://www.lankwaifonghotel.com.hk/d/kosmopolito/media/google-map-LKFH-201226e4de.jpg" />
                            </div>
                        </div>
                        <div class="row property-container-seller">
                            <div class="col-md-3">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="avatar-image"/>
                            </div>
                            <div class="col-md-9">
                                <p>John Doe</p>
                                <p><a href="mailto:john@gmail.com"><i class="fa fa-envelope"></i> john@gmail.com</a></p>
                                <p><a href="tel:+6590294521"><i class="fa fa-phone"></i> +6590294521</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>