<section id="header" class="container-fluid main-header">
    <div class="container property-container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default property-edit-container-info">
                    <div class="panel-heading">
                        <i class="fa fa-edit"></i> Create your Property Posting
                        <div class="pull-right">
                            <button
                                    class="btn btn-xs btn-primary"
                                    ng-click="save()"
                                    ladda="saving"
                                    data-style="expand-left"
                                    ><i class="fa fa-save"></i> <span ng-show="saving">saving</span><span ng-hide="saving">save</span>
                            </button>
                            <button
                                    ng-if="!property.published"
                                    class="btn btn-xs btn-success"
                                    ladda="setPublishing"
                                    ng-click="publish(true)"
                                    data-style="expand-left"
                                    ><i class="fa fa-send"></i> publish
                            </button>
                            <button
                                    ng-if="property.published"
                                    class="btn btn-xs btn-default"
                                    ladda="setPublishing"
                                    data-spinner-color="#444"
                                    data-style="expand-left"
                                    ng-click="publish(false)"><i class="fa fa-eye-slash"></i> unpublish
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="height: 305px">
                                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                        <uib-slide ng-repeat="slide in slides" active="slide.active">
                                            <img ng-src="{{slide.image}}" style="margin:auto;height: 300px">
                                        </uib-slide>
                                    </uib-carousel>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 carousel-navigator">
                                <div class="image-upload">
                                    <ul class="list-inline">
                                        <li class="thumbnail-image" ng-class="{'highlight' : isRemoveable($index)}"  ng-mouseover="setRemovable($index)" ng-mouseleave="unsetRemovable($index)" ng-repeat="slide in slides" ng-show="slides.length != 0 && propertyHasImages">
                                            <a href="" ng-class="{'remove-image' : isRemoveable($index)}" class="hide-element" ng-click="removeImage($index)"><i class="fa fa-close"></i> </a>
                                            <a ng-click="slide.active = true">
                                                <img ng-src="{{slide.image}}">
                                            </a>
                                        </li>

                                        <li class="img-upload-wrapper">
                                            <input
                                                    type="file"
                                                    id="image-uploader"
                                                    ng-model="image"
                                                    class="hidden"
                                                    nv-file-select
                                                    uploader="uploader">

                                            <a ng-hide="uploading" onclick="document.getElementById('image-uploader').click()"><i class="fa fa-upload"></i> </a>
                                            <i class="fa fa-spinner fa-spin" ng-show="uploading"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4><b>Property Address</b></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <b><i class="fa fa-university"></i><span editable-text="property.name"  onAfterSave="save();"> {{ property.name || 'Sample Name' }} </span></b>
                                    </li>
                                    <li class="list-group-item">
                                        <small><i class="fa fa-send"></i> <span editable-text="property.address"  onAfterSave="save();">{{ property.address || 'Sample Address'  }} </span></small><br>
                                        <small><i class="fa fa-map-marker"></i> <span editable-text="property.zip" onAfterSave="getLatLan();">{{ property.zip || 'Sample Zip' }} </span></small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h4><b>Price Information</b></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span><b>Price:</b></span>
                                        <span class="qty pull-right" editable-text="property.price">{{ property.price || '2,100' }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Price psf:</b></span>
                                        <span class="qty pull-right" editable-number="property.pricePsf" e-min="0.5">{{ property.pricePsf || 2.5}}</span>
                                    </li>
                                </ul>
                            </div>
                          <div class="col-md-6">
                              <h4><b>Property Type</b></h4>
                                    <li class="list-group-item">
                                        <span><b>Property type:</b></span>
                                        <span class="qty pull-right" editable-select="property.type" e-ng-options="s.value as s.text for s in types">
                                            {{ showStatus() }}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Floor Area:</b></span>
                                        <span class="qty pull-right" editable-number="property.floorArea" e-min="0.5">{{ property.floorArea || 2.5 }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Tenure</b></span>
                                        <span class="qty pull-right" editable-text="property.tenure">{{ property.tenure || '99 year lease' }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Condition</b></span>
                                        <span class="qty pull-right" editable-text="property.condition">{{ property.condition || 'Fully Furnished' }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4><b>Property <Info></Info></b></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span><b>Year:</b></span>
                                        <span class="qty pull-right" editable-text="property.year">{{ property.year || '2010' }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Listing type:</b></span>
                                        <span class="qty pull-right">For Sale</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Parking:</b></span>
                                        <span class="qty pull-right">Assigned</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Lease term:</b></span>
                                        <span class="qty pull-right" editable-text="property.leaseTerm">{{ property.leaseTerm || '99 years'}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span><b>Special:</b></span>
                                        <span class="qty pull-right" editable-text="property.special">{{ property.special.join(', ')}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3><b>Description</b></h3>
                                <p editable-textarea="property.description" e-rows="7" e-cols="40">{{ property.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default property-container-map">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-send"></i> Location </h3>
                    </div>
                    <div class="panel-body property-container-map-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="map-image" src="../images/stuff/google-map-LKFH-201226e4de.jpg" />
                            </div>
                        </div>
                        <div class="row property-container-seller">
                            <div class="col-md-3">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="avatar-image"/>
                            </div>
                            <div class="col-md-9">
                                <p>John Doe</p>
                                <p><a href="mailto:john@gmail.com"><i class="fa fa-envelope"></i> john@gmail.com</a></p>
                                <p><a href="tel:+6590294521"><i class="fa fa-phone"></i> +6590294521</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>