<section id="header" class="container-fluid main-header">
    <div class="container">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class=" { active: isSet(1) }">
                    <a href ng-click="setTab(1)"><i class="fa fa-university"></i> Property Details</a>
                </li>
                <li role="presentation" ng-class=" { active: isSet(2) }">
                    <a href ng-click="setTab(2)"><i class="fa fa-paper-plane"></i> Location</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" ng-show="isSet(1)" class="tab-pane" ng-class="{ active: isSet(1) }">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="height: 305px">
                                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                    <uib-slide ng-repeat="slide in slides" active="slide.active">
                                        <img ng-src="{{slide.image}}" style="margin:auto;">
                                        <div class="carousel-caption">
                                            <h4>Slide {{$index}}</h4>
                                            <p>{{slide.text}}</p>
                                        </div>
                                    </uib-slide>
                                </uib-carousel>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                </div>
                <div role="tabpanel" ng-show="isSet(2)" class="tab-pane" ng-class="{ active: isSet(2) }">Property location section</div>
            </div>

        </div>
    </div>
</section>