<section id="header" class="container-fluid main-header">
    <!-- /container  -->
    <div class="container"  id="home-search">
        <div class="row" >
            <form ng-submit="onSubmit()">
                <div class="col-md-2">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-default input-lg-50" ng-model="rent" ng-class="{'active': rent}" ng-click="toggle('rent')">Rent</button>
                        <button type="button" class="btn btn-default input-lg-50" ng-model="sale" ng-class="{'active': sale}" ng-click="toggle('sale')">Sale</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class='container-fluid' >
                        <tags-input ng-model="places" add-from-autocomplete-only="true">
                            <auto-complete source="loadTags($query)" debounce-delay="200"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default" ng-click="doSearch()"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="containedr" id="search-results">
        <div class="col-md-4 col-xs-12 col-sm-12 search-list">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#" class="btn btn-default"><i class="fa fa-sort-amount-asc"></i> by price</a>
                        <a href="#" class="btn btn-default"><i class="fa fa-sort-amount-asc"></i> by distance</a>
                        <a href="#" class="btn btn-default"><i class="fa fa-sort-amount-asc"></i> latest</a>
                    </div>
                </li>
                <li class="list-group-item" ng-class="{'active' : selectedMarker.hashId == prop.id}"  ng-repeat="prop in props.properties">
                    <div class="row">
                        <div class="col-md-3 property-img">
                            <img src="/images/properties/1.jpg"  class="img-responsive">
                        </div>
                        <div class="col-md-9 property-desc">
                            <a ui-sref="property({id: prop.id})">{{ prop.name }}</a>
                            <p>S$4,100/month </p>
                            <span class="label label-default"><i class="fa fa-bed"></i> 1 bed</span>
                            <span class="label label-default"><i class="fa fa-child"></i> 1 bath</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 map-wrapper">
            <div class="inner-map-wrapper">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-markers models="markers"
                                     coords="'coords'"
                                     icon="'icon'"
                                     fit="true"
                                     labelContent="'title'"
                                     options="'options'">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                <ui-gmap-windows options="windowOptions" show="show" closeClick="closeClick()">
                                    <div ng-non-bindable class="marker-wrapper">
                                        <!--<div class="col-md-2">
                                            <img src="" ng-src="{{ options.cover_image }}">
                                        </div>
                                        <div class="col-md-10">
                                            <p><strong>{{options.name}}</strong></p>
                                        </div>-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="img-responsive " src="{{ options.cover_image }}" width="32" />
                                            </div>
                                            <div class="col-md-10">
                                                <p><strong>{{options.name}}</strong></p>
                                            </div>
                                        </div>

                                    </div>
                                </ui-gmap-windows>

                        </ui-gmap-marker>

                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</section>